{
  "parser": "@typescript-eslint/parser",
  "root": true,
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint/eslint-plugin"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "@typescript-eslint/quotes": [
      "error", 
      "double"
    ],
    "@typescript-eslint/indent": [
      "error", 
      4
    ],
    "@typescript-eslint/semi": [
      "error", 
      "always"
    ]
  }
}